ADMIN_USER=admin@example.com
ADMIN_PASSWORD=Admin1
LOGS_FOLDER=/tmp/logs
MINIMAL_KEY=minimal
MINIMAL_SECRET=minimalSecret
POPULATED_KEY=populated
POPULATED_SECRET=populatedSecret
POSTGRES_USER=postgres
POSTGRES_PASSWORD=P@ssw0rd
PGBOUNCER_LISTEN_PORT=6432
ODS_VIRTUAL_NAME=api
SANDBOX_ADMIN_VIRTUAL_NAME=admin
TPDM_ENABLED=true
ODS_CONNECTION_STRING_ENCRYPTION_KEY=6VDn8N4Kj7vYAmnMrFUgdXTqOaTiGZJc9Kf2TFFDHAA=

TAG=7.1
GATEWAY_TAG=v3.1.0
DB_ADMIN_TAG=v2.2.1
ADMINAPP_TAG=v3.2.1
ADMINAPI_TAG=adminapi23-rc.0

# Specify a health check url for ODS API, Admin Api, Sandbox, and Swagger respectively.
# RECOMMENDED: To use the default internal health check endpoints, set:
API_HEALTHCHECK_TEST="curl -f http://localhost/health"
ADMIN_API_HEALTHCHECK_TEST="curl -f http://${ADMIN_API_VIRTUAL_NAME}/health"
SANDBOX_HEALTHCHECK_TEST="curl -f http://localhost/health"
SWAGGER_HEALTHCHECK_TEST="curl -f http://localhost/health"

# The following are only needed for Admin Api
# ADMINAPI_TAG=pre-alpha
# ADMIN_DB_TAG=v2.2.1
#ADMIN_DB_IMAGE=edfialliance/ods-admin-api-db:${ADMIN_DB_TAG}
PAGING_OFFSET=0
PAGING_LIMIT=25
ADMIN_API_VIRTUAL_NAME=adminapi
AUTHORITY=http://localhost/${ADMIN_API_VIRTUAL_NAME}
ISSUER_URL=https://localhost/${ADMIN_API_VIRTUAL_NAME}
SIGNING_KEY=6VDn8N4Kj7vYAmnMrFUgdXTqOaTiGZJc9Kf2TFFDHAA=
# Admin API - MultiTenancy
# Note: The requests from Swagger UI don’t automatically include tenant identifier in the headers.
# If user enables Swagger UI and MultiTenancy, then please provide DefaultTenant
SWAGGER_DEFAULT_TENANT="tenant1"

# These variables will include the database and password in the connection string, allowing to have access to the databases in the PG server.
PGBOUNCER_SET_DATABASE_USER: "yes"
PGBOUNCER_SET_DATABASE_PASSWORD: "yes"

# Port PgBouncer listens on, only needed if using Postgres DB, defaults to 6432
PGBOUNCER_LISTEN_PORT=6432

# NOTE - By default, PgBouncer logs the configuration file which contains sensitive information such as the host database username and password.
# The following configuration variable PGBOUNCER_EXTRA_FLAGS="--quiet" will suppress this messaging.
PGBOUNCER_EXTRA_FLAGS="--quiet"

# IdP db keycloak
KEYCLOAK_POSTGRES_DB=keycloak_db
KEYCLOAK_POSTGRES_USER=edfi
KEYCLOAK_POSTGRES_PASSWORD=P@55w0rd
# IdP keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=28080
KEYCLOAK_VIRTUAL_NAME=keycloak
KEYCLOAK_HOSTNAME= localhost
KEYCLOAK_HOSTNAME_PORT= 28080
KEYCLOAK_HOSTNAME_STRICT_BACKCHANNEL= false
KEYCLOAK_HTTP_ENABLED= true
KEYCLOAK_HOSTNAME_STRICT_HTTPS= false
KEYCLOAK_HEALTH_ENABLED= true

# Admin console
ENABLE_ADMINCONSOLE=true
ADMINCONSOLE_ENABLE_CORS=true
ADMINCONSOLE_ALLOWED_ORIGINS="[https://localhost/adminconsole]"
