# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 4
tab_width = 2
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
max_line_length = 110

[*.{yml,yaml}]
indent_size = 2
