# SPDX-License-Identifier: Apache-2.0
# Licensed to the Ed-Fi Alliance under one or more agreements.
# The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
# See the LICENSE and NOTICES files in the project root for more information.

version: "3.8"

services:
  {{#tenants}}
  pb-admin-{{tenantId}}:
    {{#admin-pgBouncerPort}}
    ports:
      - "{{.}}:${PGBOUNCER_LISTEN_PORT:-6432}"
    {{/admin-pgBouncerPort}}

  {{/tenants}}
  {{#tenants}}
  pb-ods-{{tenantId}}:
    {{#ods-pgBouncerPort}}
    ports:
      - "{{.}}:${PGBOUNCER_LISTEN_PORT:-6432}"
    {{/ods-pgBouncerPort}}
  {{/tenants}}
